<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs246app">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/square_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/square_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS246App">



        <activity android:name=".ReferAFriend"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".EndCaseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".StartCase"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RequestedPhotosActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".PainJournalActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CaseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Do_I_Need_A_Lawyer"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>


</manifest>